@model OWULRosterServer.Models.PlayerModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Player</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BNetTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BNetTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @AvatarHelper.AvatarImage(@Html.DisplayFor(model => model.Avatar).ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.ActionLink(@Url.Content(@Html.DisplayFor(model => model.TeamName).ToString()), "Details", "Team", new { teamId = Model.TeamId }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageKills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageKills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageDeaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageDeaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageAssists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageAssists)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
