@model OWULRosterServer.Models.PlayerModel

@{
    ViewBag.Title = "Details";
}

<h2>Player Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BNetTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BNetTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @AvatarHelper.AvatarImage(@Html.DisplayFor(model => model.Avatar).ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageKills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageKills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageDeaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageDeaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageAssists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageAssists)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { playerId = Model.PlayerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
